<link rel="stylesheet" href="/css/navBar.css" />
<nav class="custom-navbar">
  <a class="logo" href="/listing">Wanderlust</a>

  <input type="checkbox" id="menu-toggle" />
  <label for="menu-toggle" class="menu-icon">&#9776;</label>

  <div class="search-container">
    <form action="/listing/search" method="GET" class="search-form">
      <input type="text" name="query" placeholder="Search listings..." class="search-input" required />
      <button type="submit" class="search-btn">Search</button>
    </form>
  </div>

  <ul class="nav-links">
    <li><a href="/listing">All Listings</a></li>
    <li><a href="/listing/new">Add new list</a></li>
    <li><a href="/listing/about">About</a></li>
    <li><a href="/listing/contact">Contact</a></li>
    <% if(!currUser){ %>
      <li><a href="/login" class="btn">Log In</a></li>
    <% } %>
    <% if(currUser){ %>
      <li><a href="/logout" class="btn">Log Out</a></li>
      <li class="username">👤 <%= currUser.username %></li>

    <% } %>

  </ul>
</nav>
