<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Error</title>
  <link rel="stylesheet" href="/css/error.css">
</head>
<body>
  <div class="error-container">
    <h1><%=err.status%></h1>
    <h2><%=err.message%></h2>
    <!-- <p>The page you are looking for doesn't exist or has been moved.</p> -->
    <a href="/listing" class="btn">Go Back Home</a>
  </div>
</body>
</html>
